    /* ======== ESTILOS GENERALES ======== */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

header {
    background: #004E89;
    background: linear-gradient(90deg,rgba(0, 78, 137, 1) 3%, 
    rgba(152, 185, 217, 1) 13%, rgba(152, 185, 217, 1) 24%, 
    rgba(39, 112, 168, 1) 41%, rgba(63, 124, 171, 1) 59%, 
    rgba(152, 185, 217, 1) 74%, 
    rgba(152, 185, 217, 1) 86%, 
    rgba(0, 78, 137, 1) 98%);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content:  space-around;
    background: #002f5f;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section, article {
    padding: 20px;
    margin: 10px auto;
    width: 90%;
    background: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #004e89;
    color: white;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
footer span{
    margin: 3px;
}
/* Tablas */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #f0eeee;
    padding: 10px;
    text-align: left;
}

/* Formulario */
form {
    width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 1px solid #004e89;
    padding: 15px;
}

legend {
    font-weight: bold;
    color: #004e89;
}


input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
label.checkbox-inline {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
button {
    background: #004e89;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #00375f;
}

/* Galería */
.galeria {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.galeria img {
    width: 180px;
    border-radius: 6px;
}
/* Cards*/
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    align-items: stretch;
}

.card article {
    background: #eeecec;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #fdfdfd;
    display: flex;
    flex-direction: column;
}
.card article:nth-child(3) {
    grid-column: span 3;
}

/* .books{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 1rem;
    
}
 */
.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
   
   gap: 2rem;
    margin: 3px auto;
    padding: 2rem;
    width: 92%;
}

.books :hover{
    transform: scale(1);
}

.book {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.book:hover{
    transform: scale(1.3);
}

.book img{
    width: 200px;
    height: 250px;
    /* object-fit:; */
    border-radius: 10px;
}

.book h3{
    margin: 1rem 0 0.5rem;
}

.book p {
    font-size: 0.95rem;
    color: #161212;
}

.inicio{
   
 position: fixed;
    right: 0;     /* separación del borde derecho */
    bottom: 40px;    /* separación del borde inferior */
    z-index: 999;    /* para que quede por encima de todo */
    cursor: pointer;

}
.inicio a {
    transition: transform .50s;
}

.inicio img{
    width: 50px;        /* tamaño de la imagen */
    height: auto;
    transition: transform .2s;
}

.inicio img:hover{
    transform: scale(1.3); 
}
