body{
font-family: Arial, sans-serif;
background-color: #f4f4f9;
background-image: url(https://img.freepik.com/vector-gratis/vector-fondo-degradado-azul-simple-negocios_53876-166894.jpg);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
}


.mi-formulario {
background: #7eb2c7;
padding: 30px;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
}


.grupo-control {
margin-bottom: 20px;
}


label {
display: block; 
margin-bottom: 5px;
font-weight: bold;
color: #333;
}


input[type="text"],
input[type="email"],
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ffffff;
border-radius: 4px;
box-sizing: border-box;
transition: border-color 0.3s;
}


input[type="text"],
input[type="Edad"],
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ffffff;
border-radius: 4px;
box-sizing: border-box;
transition: border-color 0.3s;
}


input[type="text"],
input[type="apellido"],
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
transition: border-color 0.3s;
}


input:focus,
textarea:focus {
border-color: #007bff; 
outline: none; 
}


button[type="submit"] {
background-color: #95a7bb;
color: rgb(255, 255, 255);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
width: 100%;
Transition: background-color 0.3s;
}

button[type="submit"]:hover {
background-color: #a4b8ce;
}
