
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(89, 180, 94);
    line-height: 1.6;
}

h1 {
    margin: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(48, 158, 121);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    }

h2 {
    text-align: center;
    margin: 20px
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.15);
}

nav ul li a:hover {
    transform: 10px;
    box-shadow: 0 5px 15px;
}



.logo {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    place-content:initial;
    margin-top: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.container-image {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    background: rgb(61, 73, 70);
    place-items: center;
    border-radius: 20px;
    gap: 15px;
}

.container {
    display: grid;
    gap: 15px;
    margin: 30px;
    grid-template-columns: repeat(2,2fr);
    place-items: center;
    flex-wrap: wrap;
    color: rgb(22, 140, 142);
}

.card {
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    background: rgb(175, 171, 171);
    box-shadow: 0 0 20px rgba(red, green, blue, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    color: rgb(130, 108, 255);
}

.dest {
    width: 80%;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    background: rgb(156, 49, 49);
    place-items:unset;
}

.dest-avatar {
    width: 200px;
    height: 200px;
    border-radius: 40%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px;
}

.card h3 {
    align-items: center;
    margin: 5;
    color:rgba(0, 0, 0, 0.975);
    text-decoration: underline;
}

.card p {
    display: flex;
    margin: 10px 0;
    color:rgb(40, 33, 33);
}

footer {
    background-color: rgb(43, 86, 167);
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 100%;
}


